/*
Yellow
Hex color:	#FFFC00
RGB:      	255 252 0
CMYK:     	0 0 100 0
Pantone:  	PMS Process Yellow C

Black
Hex color:	#000000
RGB:      	0 0 0
CMYK:     	63 62 59 94
Pantone:  	PMS Black C

Yellow
Hex: #FFFC00
RGB: (255 252 0)
HSL: (59 100% 50%)

Black
Hex: #000000
RGB: (0 0 0)
HSL: (0 0% 0%)

Black 2
Hex: #262626
RGB: (38 38 38)
HSL: (0 0% 15%)

White
Hex: #FFFFFF
RGB: (255 255 255)
HSL: (0 0% 100%)
*/
:root {
  --yellow: #fffc00;
  --black: #000000;
  --black-2: #262626;
  --white: #ffffff;
  --white-2: #f4f2f2fa;
}

* {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "helv";
  font-style: normal;
  src: url(./helvetica.otf);
  src: url(./helvetica.otf) format("otf");
}

html {
  background-color: var(--yellow);
}

body {
  font-size: 16px;
  font-family: "helv";
  color: var(--black);
}

.sm {
  display: none;
}

main {
  max-width: 1200px;
  margin: auto;
}

.header {
  width: 100%;
  height: 80px;
}

header {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

header .menu-btn {
  height: 37px;
  width: 37px;
  padding: 5px;
  font-weight: 900;
  font-size: 25px;
  border-radius: 50%;
  background-color: var(--white-2);
  display: grid;
  place-items: center;
}

header .logo {
  width: 50px;
  height: 50px;
  margin: auto;
}

header .logo > .bi {
  font-weight: 900;
  font-size: 30px;
}

header .login-btn {
  background: transparent;
  padding: 5px 9px;
  border: 1.8px solid black;
  border-radius: 33px;
  font-weight: 500;
  width: 60px;
  transition: all 0.4s;
}

header .login-btn:hover {
  background-color: var(--black-2);
  color: var(--white);
  font-weight: bolder;
  transition: all 0.3s;
}

.content {
  width: 100%;
}

.content .hero {
  height: calc(100vh - 140px);
  width: 100%;
  display: grid;
  place-items: center;
}

.content .hero .group {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
}

.content .hero .group .left,
.content .hero .group .right {
  height: 50%;
  margin: auto;
}

.content .hero .group .left {
  width: 50%;
  text-align: center;
}

.content .hero .group .left h2 {
  margin: 20px auto;
}

.content .hero .group .left figure {
  height: 200px;
  width: auto;
  margin: auto;
}
.content .hero .group .left figure > .hero-img {
  height: inherit;
  width: auto;
}

.content .hero .group .right {
  width: 50%;
  text-align: center;
  position: relative;
}

.content .hero .group .right .discover {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.content .hero .group .right .discover h1 {
  font-size: 30px;
  font-weight: 900;
}
.content .hero .group .right .discover p {
  font-size: 20px;
  font-weight: 500;
}

.content .hero .group .right .headline {
  margin: 20px auto;
}

.content .hero .group .right .try-it {
  width: 150px;
  padding: 10px 20px;
  margin: 20px auto auto auto;
  border-radius: 33.33px;
  background-color: var(--black);
  color: var(--white);
  font-weight: 900;
  font-size: 20px;
}

.showcase {
  background-color: var(--white);
  padding: 20px 0;
  border-radius: 35px;
  padding-bottom: 40px;
}

.showcase .item {
  width: 100%;
  height: 540px;
  padding-top: 20px;
}

.showcase .item .box {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border-radius: 18px;
  position: relative;
  overflow: hidden;
}

.item .box .bg {
  height: 100%;
  width: 100%;
}

.item .box .detail {
  position: absolute;
  left: 10px;
  bottom: 20px;
  margin: auto;
  max-width: 70%;
}

.item .box .detail h1 {
  font-size: 35px;
  font-weight: 600;
  color: white;
  margin: 20px auto;
  letter-spacing: 2px;
}
.item .box .detail p {
  line-height: 1.5rem;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-bottom: 10px;
}

.item .box button {
  background-color: var(--yellow);
  padding: 15px 20px;
  width: 50%;
  height: 50px;
  font-weight: 600;
  font-size: 17px;
  border-radius: 40px;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}
.item .box span {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: -15px;
  z-index: 3;
  width: 100%;
  height: 100%;
  text-align: center;
}
.item .box button .floor {
  position: absolute;
  left: -20px;
  right: 0;
  bottom: 0;
  top: -10px;
  border-radius: 50%;
  transition: all 0.4s;
  width: 0;
}

.item .box button:hover .floor {
  width: 100px;
  height: 100px;
  background-color: white;
  transition: all 0.4s;
}

.footer {
  height: calc(100vh - 50px);
  padding: 10px 5px;
  margin-top: -50px;
}

.footer .inner {
  margin: auto;
}

.btn-group {
  display: grid;
  place-items: center;
  height: 70px;
  width: 100%;
  margin-top: 15px;
}

.btn-group button {
  width: 75%;
  height: 80%;
  background-color: #2abadd;
  color: var(--white);
  font-weight: 700;
  font-size: 20px;
  border-radius: 40px;
}

.socials {
  margin: 15px auto;
  height: 60px;
  border-top: .8px solid var(--black-2);
  border-bottom: .8px solid var(--black-2);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.socials span {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid var(--black);
  margin: auto;
  display: grid;
  place-items: center;
}

.logo {
  text-align: left;
  width: max-content;
  font-weight: 900;
  font-size: 38px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo span {
  margin: auto;
  margin-left: 15px;
}

.logo p {
  font-weight: 900;
  font-size: 24px;
  margin: auto;
  margin-left: 5px;
}

.links {
  height: 60vh;
}

.credits {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.credits span:nth-child(3) {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-weight: 700;
  margin-left: 5px;
  letter-spacing: 2px;
}

/*For screens below 960px*/
@media (max-width: 960px) {
  .content .hero .group {
    height: 90%;
    width: 90%;
    flex-direction: column;
  }

  .sm {
    display: block;
  }
  .lg {
    display: none;
  }

  .content .hero .group .left {
    width: 100%;
  }

  .content .hero .group .right {
    width: 100%;
  }
}
